<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Ironbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="container">
      <div class="header">
        <form class="navbar-form navbar-right">
          <p></p>
        </form>
      </div>

      <div class="jumbotron">
        <h1>The Ironbook</h1>

      <%= yield %>

      </div>

      <div class="footer">
        <p>&copy; <a href="/">Team Awesome 2014</a></p>
      </div>

    </div>
  </body>
</html>