%h1 #{@course.name} Students
%br
= link_to "Add Student", new_location_course_student_path(@location, @course)
%hr


%br
%hr
%br
= link_to "Go Back To #{@location.name} Courses", location_path(@location)