%h3 #{@locations.name} Iron Yard
= link_to "Add Course", new_location_course_path(@locations)

%br
%hr
 
  -@courses.each do |course|
    %br
    =link_to course.name, location_course_path(@locations, course)
%br
%hr

%p
= link_to "Return to Home Page", root_path
